:root{
    --red1:rgb(199, 135, 144);
    --red2:rgb(212, 59, 79);
    --blu:rgb(106,120,250);
}
body{
    background-color: var(--red1);
}
*{
    font-family: "Annapurna SIL", serif;
}
.card-custom{
    height: 100px;
    border: 4.3px outset var(--blu);
    margin-block: 7px;
}
.div1{
    margin-block: 109px;
}